# Default ignored files
/shelf/
/workspace.xml
/StarTruckerLocalRadio/.idea
StarTruckerLocalRadio/playlist.txt
/StarTruckerLocalRadio/commercials
/StarTruckerLocalRadio/misc
/StarTruckerLocalRadio/tracks
