# Default ignored files
/shelf/
/workspace.xml
/StarTruckerPythonRadio/.idea
StarTruckerPythonRadio/playlist.txt
/StarTruckerPythonRadio/commercials
/StarTruckerPythonRadio/misc
/StarTruckerPythonRadio/tracks
